In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from pytorch_forecasting import Baseline, TemporalFusionTransformer, TimeSeriesDataSet
from pytorch_forecasting.data import GroupNormalizer, NaNLabelEncoder
from pytorch_forecasting.metrics import SMAPE, PoissonLoss, QuantileLoss
from pytorch_forecasting.models.temporal_fusion_transformer.tuning import optimize_hyperparameters

import tensorflow as tf
import tensorboard as tb

c:\Users\maxim\Documents\GitHub\gold-forecast\venv\lib\site-packages\pytorch_forecasting\models\base_model.py:30: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from tqdm.autonotebook import tqdm

In [2]:
df = pd.read_csv(r'C:\Users\maxim\Documents\GitHub\gold-forecast\data\data_nominal_clean.csv', sep=';',  index_col='date',  parse_dates=['date'])

In [3]:
df.columns

Index(['Gold', 'CrudeOil', 'S&P500', 'FTSE250'], dtype='object')

In [6]:
dataset = df[['CrudeOil', 'S&P500', 'FTSE250']].shift(20)
dataset['Gold'] = df['Gold']
dataset.dropna(inplace=True)
dataset

            CrudeOil   S&P500   FTSE250     Gold
date
1986-01-30     25.56   209.59   1417.26   358.00
1986-01-31     26.00   210.88   1424.61   350.50
1986-02-03     26.53   210.65   1430.96   347.30
1986-02-04     25.85   213.80   1421.22   338.60
1986-02-05     25.87   207.97   1408.79   337.30
...              ...      ...       ...      ...
2022-12-30     80.48  4080.11  19163.33  1813.75
2023-01-03     81.06  4076.57  19409.42  1843.25
2023-01-04     79.86  4071.70  19363.28  1857.30
2023-01-05     76.83  3998.84  19329.58  1834.00
2023-01-06     74.21  3941.26  19100.08  1852.20

[9129 rows x 4 columns]

In [7]:
train = dataset.iloc[:-20]
test = dataset.iloc[-20:]

In [ ]:
tft = TemporalFusionTransformer.from_dataset(training,
                                             learning_rate = )